h2 {
    color: green;
}

.emphasizedText {
    color: red;
    font-weight: bold;
}


.available {
    background-color: green;
}

.eaten {
    background-color: red;
}

.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.limegreen{
    background-color: lime;
}